@use "../../styles/scss/abstracts/" as a;

.error {
  max-width: a.w(1936);
  margin-inline: auto;
  text-align: center;
  overflow-y: hidden;
  background: #fff;
  color: #000;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-inline: a.p(24);

  @include a.mq-up(600) {
    padding-inline: a.p(32);
  }
  @include a.mq-up(1280) {
    padding-inline: a.p(48);
  }
}
