@use "../../styles/scss/abstracts/" as a;

.signup-form {
  &__form {
    display: grid;
    row-gap: a.g(base);
  }

  &__desc {
    font-size: a.p(18);

    @include a.mq-up(1280) {
      font-size: a.fs(20);
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: a.g(base);

    @include a.mq-up(600) {
      flex-direction: row;
      width: 100%;
      max-width: 36.625rem;
      gap: a.g(small);
    }
  }

  // input wrapper
  &__input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: a.px-rem(48);

    @include a.mq-up(600) {
      height: a.px-rem(54);
    }

    input {
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      border: a.px-rem(1) solid a.$clr-border-gray;
      padding: a.p(4) a.p(16);
      padding-top: a.p(22);
      color: a.$text-body;
      border-radius: a.br(base);
      font-size: a.fs(16);
      line-height: 1.5;
    }

    label {
      position: absolute;
      pointer-events: none;
      left: a.px-rem(16);
      transform: translateY(50%) scale(1);
      transform-origin: top left;
      transition: transform 300ms;
      color: a.$text-footer;

      &.filled-state {
        transform: translateY(15%) scale(0.8);
      }

      @include a.mq-up(600) {
        transform: translateY(62%) scale(1);
      }
    }

    &:focus-within {
      input {
        outline: a.px-rem(2) solid a.$b-white;
        outline-offset: a.px-rem(2);
      }

      label {
        transform: translateY(15%) scale(0.8);
      }
    }

    @include a.mq-up(600) {
      flex-grow: 1;
    }
  }

  // signup button
  &__btn {
    height: a.px-rem(48);
    background: a.$bg-signin;
    border: none;
    color: a.$text-white;
    align-self: flex-start;
    display: flex;
    align-items: center;
    gap: a.g(x-small);
    padding: a.p(9) a.p(16);
    border-radius: a.br(base);
    transition: all 300ms;

    &:hover {
      background: darken(a.$bg-signin, 5);
      cursor: pointer;
    }

    @include a.mq-up(600) {
      height: a.px-rem(54);
      padding-inline: a.p(24);
    }
  }

  &__btn-text {
    text-transform: capitalize;
    font-size: a.fs(18);
    font-weight: a.fw(medium);

    @include a.mq-up(600) {
      font-size: a.fs(24);
    }
  }

  &__angle-right {
    font-size: a.fs(22);
  }
}
