@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
body {
  background: #000000;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  background-repeat: no-repeat;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: clamp(2rem, 1rem + 2vw, 4rem);
  line-height: 1.1;
}

h2 {
  font-size: clamp(1.5rem, 1rem + 1.5vw, 2.25rem);
  line-height: 1.2;
}

h3 {
  font-size: clamp(1.17rem, 1rem + 1vw, 1.3689rem);
  line-height: 1.3;
}

h4 {
  font-size: clamp(1rem, 0.83rem + 0.25vw, 1.1rem);
}

p {
  font-size: clamp(1rem, 0.83rem + 0.25vw, 1.1rem);
}

.loading__center {
  min-height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}
.loading__text {
  letter-spacing: 0.03125rem;
}

.nav {
  display: grid;
  align-items: center;
  height: 5rem;
  background: transparent;
  max-width: 121rem;
  margin-inline: auto;
  padding-inline: 1.5rem;
}
@media screen and (min-width: 37.5rem) {
  .nav {
    padding-inline: 2rem;
    height: 5.375rem;
  }
}
@media screen and (min-width: 80rem) {
  .nav {
    padding-inline: 3rem;
  }
}
.nav__header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 0.3125rem;
  height: 100%;
  z-index: 100;
}
.nav__logo {
  width: 5.5625rem;
  height: 1.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media screen and (min-width: 60rem) {
  .nav__logo {
    width: 9.25rem;
    height: 2.5rem;
  }
}
.nav__lang-signin {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.language {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  border: 0.0625rem solid rgba(128, 128, 128, 0.8);
  padding: 0.3rem 0.7rem;
  border-radius: 0.25rem;
  height: 2rem;
}
.language:focus-within {
  outline: 0.125rem solid #ffffff;
  outline-offset: 0.125rem;
}
@media screen and (max-width: 37.49875rem) {
  .language {
    gap: 0;
  }
}
@media screen and (min-width: 37.5rem) {
  .language {
    width: 7.875rem;
  }
}
.language__icon {
  font-size: 1.17rem;
  font-weight: 700;
}
.language__select {
  background: none;
  color: #ffffff;
  border: none;
  outline: none;
  font-size: 1rem;
}
@media screen and (max-width: 37.49875rem) {
  .language__select {
    width: 20px;
    overflow: hidden;
  }
}

.signin-link {
  background: rgb(229, 9, 20);
  color: #ffffff;
  text-transform: capitalize;
  font-size: 0.875rem;
  font-weight: 500;
  height: 2rem;
  padding: 0.125rem 1rem;
  border: none;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  transition: all 300ms;
}
.signin-link:hover {
  background: #cc0812;
  cursor: pointer;
}

.footer {
  display: grid;
  row-gap: 2rem;
  margin-top: 1.5rem;
  padding-bottom: 3rem;
  width: 100%;
  max-width: 121rem;
  margin-inline: auto;
  padding-inline: 1.5rem;
}
@media screen and (min-width: 37.5rem) {
  .footer {
    padding-inline: 2rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer {
    padding-inline: 3rem;
  }
}
.footer__tele-text {
  color: rgba(255, 255, 255, 0.7);
}
.footer__tele-no {
  color: rgba(255, 255, 255, 0.7);
}
.footer__tele-no-underline {
  transition: all 300ms;
}
.footer__tele-no-underline:hover {
  text-decoration: underline;
}
.footer__links {
  display: grid;
  row-gap: 0.5rem;
}
@media screen and (min-width: 37.5rem) {
  .footer__links {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 60rem) {
  .footer__links {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 80rem) {
  .footer__links {
    grid-template-columns: repeat(4, 1fr);
  }
}
.footer__link {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.875rem;
  transition: all 300ms;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer .language {
  justify-self: start;
}
@media screen and (max-width: 37.49875rem) {
  .footer .language {
    gap: 0.25rem;
  }
}
@media screen and (max-width: 37.49875rem) {
  .footer .language__select {
    width: auto;
  }
}
.footer__country {
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.83rem;
}/*# sourceMappingURL=index.css.map */